@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.lenis, html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
  
  body {
    background-color: #050505;
    color: theme('colors.white / 60%');
  }

  h1, h2, h3, h4, h5, h6 {
    color: theme('colors.white / 90%');
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background-color: #050505;
}

::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9370DB; /* Ube Purple */
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #1a1a1a #050505;
}
